In [1]:
import pandas as pd 
import numpy as np

In [2]:
df=pd.read_csv('all_songs_data_processed.csv')

In [3]:
df['Release Date']=pd.to_datetime(df['Release Date'])
df=df.dropna()

In [4]:
df['year']=df['Release Date'].dt.year

In [5]:
lyrics=df[['Corpus','year']]

In [6]:
lyrics

                                                 Corpus  year
0     take little trip Colonel Jackson mighty Missis...  1959
5     night hope pray dream lover come way girl hold...  1959
19    feel like kiss ya exist kiss ya mind time know...  1959
26    leave record hop tell go soda pop go awhile ha...  1959
27    Bo bo doo doot doo doo doo doo go doo doot doo...  1959
...                                                 ...   ...
6287  come hitchin boat Backin ramp old truck find b...  2023
6288  Pa tipos como tú uh uh uh uh oh oh oh oh Pa ti...  2023
6289  Grizz ah Squat beat happenin Bardi Big Latto B...  2023
6290  money Love history prove go tell religion punk...  2011
6291  right senior year summer disappear go ridin ol...  2022

[4422 rows x 2 columns]

In [7]:
def combine_strings(series):
    return ' '.join(series.tolist())

lyrics_per_year = lyrics.groupby('year')['Corpus'].agg(combine_strings).reset_index()

In [8]:
pd.DataFrame(lyrics_per_year)

    year                                             Corpus
0   1955  boondock boondock People cause town bear love ...
1   1957  Jingle bell jingle bell jingle bell rock Jingl...
2   1958  Shooby Doo Wop ba baa hey hey Shooby Doo Wop b...
3   1959  take little trip Colonel Jackson mighty Missis...
4   1960  sorry sorry fool know Love cruel oh oh oh oh o...
..   ...                                                ...
64  2020  everybody faking pain heal time honest yeah kn...
65  2021  Ooh Ooh Na na yeah see dance crowded room uh l...
66  2022  love nita cause legal fajitayou likeembe come ...
67  2023  Aha ha ha ha ha RealusBeats Пр р yeah Beat Box...
68  2024  seven day week seven day week way ride way rid...

[69 rows x 2 columns]

In [12]:
lyrics_per_year['Corpus']=lyrics_per_year['Corpus'].str.lower()
lyrics = lyrics_per_year.rename(columns={'Corpus':'lyrics'})

In [10]:
from sklearn.feature_extraction.text import CountVectorizer

In [24]:
count_vector = CountVectorizer(lowercase = True)
count_vektor = count_vector.fit_transform(lyrics['lyrics'])
count_vektor = count_vektor.toarray()
df = pd.DataFrame(data = count_vektor, columns = count_vector.get_feature_names_out())
df['year'] = lyrics['year']
df = df.set_index('year')
df = df.reset_index()

In [43]:
topfifty = df.sum().sort_values(ascending=False).index[:101]
topfifty

Index(['year', 'love', 'oh', 'know', 'like', 'yeah', 'get', 'baby', 'let',
       'come',
       ...
       'watch', 'gon', 'everybody', 'start', 'take', 'rock', 'high', 'yo',
       'ride', 'work'],
      dtype='object', length=101)

In [46]:
df.to_csv('processed_data.csv')