In [1]:
import pandas as pd 
import numpy as np

In [3]:
df = pd.read_csv('all_songs_data_processed.csv')

In [4]:
df['Release Date']=pd.to_datetime(df['Release Date'])
df = df.dropna()

In [5]:
df['year'] = df['Release Date'].dt.year

In [6]:
lyrics = df[['Corpus','year']]

In [7]:
lyrics

                                                 Corpus  year
0     take little trip Colonel Jackson mighty Missis...  1959
5     night hope pray dream lover come way girl hold...  1959
19    feel like kiss ya exist kiss ya mind time know...  1959
26    leave record hop tell go soda pop go awhile ha...  1959
27    Bo bo doo doot doo doo doo doo go doo doot doo...  1959
...                                                 ...   ...
6287  come hitchin boat Backin ramp old truck find b...  2023
6288  Pa tipos como tú uh uh uh uh oh oh oh oh Pa ti...  2023
6289  Grizz ah Squat beat happenin Bardi Big Latto B...  2023
6290  money Love history prove go tell religion punk...  2011
6291  right senior year summer disappear go ridin ol...  2022

[4422 rows x 2 columns]

In [8]:
def combine_strings(series):
    return ' '.join(series.tolist())

lyrics_per_year = lyrics.groupby('year')['Corpus'].agg(combine_strings).reset_index()

In [9]:
pd.DataFrame(lyrics_per_year)

    year                                             Corpus
0   1955  boondock boondock People cause town bear love ...
1   1957  Jingle bell jingle bell jingle bell rock Jingl...
2   1958  Shooby Doo Wop ba baa hey hey Shooby Doo Wop b...
3   1959  take little trip Colonel Jackson mighty Missis...
4   1960  sorry sorry fool know Love cruel oh oh oh oh o...
..   ...                                                ...
64  2020  everybody faking pain heal time honest yeah kn...
65  2021  Ooh Ooh Na na yeah see dance crowded room uh l...
66  2022  love nita cause legal fajitayou likeembe come ...
67  2023  Aha ha ha ha ha RealusBeats Пр р yeah Beat Box...
68  2024  seven day week seven day week way ride way rid...

[69 rows x 2 columns]

In [10]:
lyrics_per_year['Corpus']=lyrics_per_year['Corpus'].str.lower()
lyrics = lyrics_per_year.rename(columns={'Corpus':'lyrics'})

In [11]:
from sklearn.feature_extraction.text import CountVectorizer

In [28]:
count_vector = CountVectorizer(lowercase = True)
count_vektor = count_vector.fit_transform(lyrics['lyrics'])
count_vektor = count_vektor.toarray()
df = pd.DataFrame(data = count_vektor, columns = count_vector.get_feature_names_out())
df['year'] = lyrics['year']
df = df.set_index('year')
df = df.reset_index()
df

,year,aa,aaa,aaaa,aaaaaa,aaaaaaaah,aaaaaah,aaaaah,aaaah,aaaahh,...,짜릿한,커피,터져,편해,포기할까봐,푸는,품격,한번,한잔의,힐끗대고
0,1955,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1957,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1958,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1959,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1960,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64,2020,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
65,2021,6,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
66,2022,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
67,2023,0,0,0,0,0,0,0,0,0,...,2,0,0,1,1,0,0,1,0,1
68,2024,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [26]:
sorted_words = pd.DataFrame(df.sum().sort_values(ascending=False).index)
sorted_words = sorted_words.drop(0)
sorted_words = sorted_words.rename(columns={0: "word"})
sorted_words

            word
1           love
2             oh
3           know
4           like
5           yeah
...          ...
21711   droughte
21712  plowshare
21713    droptop
21714    dropper
21715       힐끗대고

[21715 rows x 1 columns]

In [27]:
sorted_words.to_csv("sorted_words.csv")

In [50]:
# manually removing words like "oh", "yeah", "la", and curse words
filtered_words = sorted_words.drop([2,5,13,16,24,26,27,30,37,38,61,63,81,82,86,98,116])[:100].reset_index().drop(columns=['index'])
df_filter = np.array(filtered_words['word'])
df_filter = np.insert(df_filter, 0, 'year')
df_filter

array(['year', 'love', 'know', 'like', 'get', 'baby', 'let', 'come', 'go',
       'want', 'girl', 'time', 'wanna', 'feel', 'tell', 'way', 'need',
       'good', 'right', 'night', 'think', 'life', 'look', 'thing', 'man',
       'heart', 'day', 'say', 'away', 'boy', 'will', 'leave', 'little',
       'hold', 'turn', 'find', 'try', 'tonight', 'mind', 'world', 'run',
       'eye', 'dance', 'long', 'hear', 'cause', 'stop', 'break', 'hand',
       'well', 'bad', 'bitch', 'play', 'real', 'home', 'fall', 'walk',
       'shit', 'wait', 'talk', 'light', 'body', 'money', 'live', 'friend',
       'dream', 'lose', 'stay', 'hard', 'shake', 'new', 'believe', 'head',
       'cry', 'lie', 'mean', 'watch', 'gon', 'everybody', 'start', 'take',
       'rock', 'high', 'ride', 'work', 'big', 'got', 'low', 'kiss',
       'stand', 'close', 'see', 'hot', 'make', 'hit', 'touch', 'wish',
       'change', 'bring', 'face', 'sweet'], dtype=object)

In [58]:
processed_df = df[df_filter].drop(68)
processed_df

,year,love,know,like,get,baby,let,come,go,want,...,see,hot,make,hit,touch,wish,change,bring,face,sweet
0,1955,10,0,1,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1,1957,0,0,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1958,0,1,3,0,1,9,9,1,0,...,0,0,0,0,0,0,0,0,0,0
3,1959,25,17,6,15,20,4,12,23,13,...,2,0,0,0,2,2,1,3,3,5
4,1960,45,31,7,14,2,7,7,20,2,...,3,0,0,5,1,0,2,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63,2019,318,378,471,419,261,147,110,85,176,...,43,83,14,46,23,18,26,38,18,15
64,2020,168,254,355,285,138,108,153,73,92,...,17,9,22,26,7,22,25,43,18,5
65,2021,175,256,445,290,155,129,62,68,140,...,16,11,4,16,10,22,16,27,18,6
66,2022,129,275,333,242,109,80,64,91,108,...,7,18,32,29,14,57,10,8,11,15
67,2023,86,113,160,73,59,43,27,24,23,...,3,1,3,23,1,14,13,7,14,0

In [59]:
processed_df.to_csv('processed_data.csv')

In [60]:
words = filtered_words['word']
words

0       love
1       know
2       like
3        get
4       baby
       ...
95      wish
96    change
97     bring
98      face
99     sweet
Name: word, Length: 100, dtype: object

In [61]:
stacked_df = pd.DataFrame(processed_df.set_index('year').stack()).reset_index()
stacked_df = stacked_df.rename(columns={'level_1': 'words', 0: 'count'})
stacked_df

      year   words  count
0     1955    love     10
1     1955    know      0
2     1955    like      1
3     1955     get      0
4     1955    baby      0
...    ...     ...    ...
6795  2023    wish     14
6796  2023  change     13
6797  2023   bring      7
6798  2023    face     14
6799  2023   sweet      0

[6800 rows x 3 columns]

In [62]:
stacked_df.max()

year      2023
words    world
count      613
dtype: object

In [63]:
stacked_df.to_csv('stacked_data.csv')